@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed; /* 화면 상단에 고정 */
    top: 0; /* 화면의 최상단에 위치 */
    left: 0; /* 화면의 왼쪽에서 시작 */
    width: 100%; /* 화면의 전체 너비 */
    background-color: rgba(255,255,255,0.8); /* 배경색 설정 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 네비게이션 바의 그림자 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.title-container {
    padding: 15px;
    color: black;
    font-size: 20px;
    margin-left: 50px;
    white-space: nowrap;
    font-family: 'ClimateCrisisKR-1979';
    font-weight: 600;
}

.menu-container {
    display: flex;
    margin-left: auto; /* 메뉴 항목을 오른쪽으로 정렬 */
    margin-right : 20px;
}

.menu-container span {
    margin: 0 20px;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 500;
}

.menu-container span:hover {
    color: #168F0B;
}

/* 페이지 내용에 네비게이션 바의 높이만큼 여백 추가 */
.content {
    margin-top: 90px; /* 네비게이션 바 높이만큼 여백 추가 */
}